<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.example.web_dev_book.ch2.servletController.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/ch2/servletController/Controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Log4jInitServlet</servlet-name>
        <servlet-class>com.example.web_dev_book.shared.InitLog4j</servlet-class>
        <init-param>
            <param-name>logPath</param-name>
            <param-value>/WEB-INF/logs/error.log</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Log4jInitServlet</servlet-name>
        <url-pattern>/WEB_INF/logs/error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ch4Enhanced</servlet-name>
        <servlet-class>com.example.web_dev_book.ch4.enhanced.Controller</servlet-class>
        <init-param>
            <param-name>logName</param-name>
            <param-value>bytesizebook.guide.ch4</param-value>
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>INFO</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch4Enhanced</servlet-name>
        <url-pattern>/ch4/enhanced/Controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersistentController</servlet-name>
        <servlet-class>com.example.web_dev_book.ch5.persistentData.Controller</servlet-class>
        <init-param>
            <param-name>create</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersistentController</servlet-name>
        <url-pattern>/ch5/persistentData/Controller</url-pattern>
    </servlet-mapping>
</web-app>